body {
  text-align: center;
}

.nav-bar {
  display: flex;
  justify-content:flex-end;
  padding: 5px;
}

.nav-home {
  display: flex;
  justify-content: flex-start;
  padding: 5px
}

.nav-button {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.button-click {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-href { 
  display: flex;
  justify-content: center;
}